.img-fluid{
    width: 70%;
    height: auto;
    margin-left: 25%;
}

input{
    height: 40px;
}
.apply-btn{
    border: 1px solid grey;
    padding: 7px 30px;
    background-color: rgb(221, 92, 53);
    color: white;  
}
#failed{
    display: none;
}
.btn-hover:hover{
    background-color: rgb(61, 61, 61);
    color: white;
}